body {
  background-image: url("../../content/assets/background.svg");
  background-size: auto;
  background-position: right top;
  background-attachment: fixed;
  background-clip: padding-box;
  background-repeat: no-repeat;
}

small {
  color: var(--supportColor);
}

.logo_outer,
.logo_inner {
  display: inline-block;
  border-radius: 50%;
}

.logo_container {
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.logo_outer {
  border: 6px solid var(--primaryColor);
  border-right-color: transparent;
  -webkit-animation: rotation 28s infinite linear;
  width: 36px;
  height: 36px;
  position: relative;
  top: 8px;
  left: 8px;
}

.logo_inner {
  border: 4px solid var(--secondaryColor);
  border-left-color: transparent;
  -webkit-animation: rotation 40s infinite linear reverse;
  width: 20px;
  height: 20px;
  position: relative;
  top: -26px;
  left: 16px;
}

@media only screen and (max-width: 480px) {
  .logo_outer {
    width: 32px;
    height: 32px;
    top: 8px;
    left: 12px;
  }

  .logo_inner {
    width: 16px;
    height: 16px;
    top: 0px;
    left: -12px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
